.container-acount-section {
    display: flex;
    flex-direction: row;
}
.container-account-overview {
    flex: 1 1 0px;
    margin: 10px;
    border-width: 1px;
    border-color: #444;
    border-style: solid;
    border-radius: 7px;
}